* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
.container {
    width: 100%;
    margin: auto;
    background-color: #d2b48c;
    
}
nav {
    height: 150px;
    background-color: #25373d;
    display: flex;
    justify-content: space-between;
   
               
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
       
    
}
nav ul li {
    display: inline-block;
    padding: 20px;
    list-style-type: none;
    transition: 0.6s;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li:hover {
    background-color: #fcb941;
}
.line {
    border-bottom: 20px solid #fcb941
}
.logo {
    text-align: center;
    color: white;
    padding: 40px;
}
.logo h1 {
    font-size: 20px;
}

.logo h1::first-letter {
    color: #fcb941;
}

.logo h1:hover::first-letter {
    background-color: #fcb941;
   
}

.logo h2 {
    font-size: 15px;
}

.center {
   
    border: 10px groove #25373d;
    padding: 20px 0;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
   
}

.slide {
    width:300%;
    display: flex;
}
.resim {
    width: 100%;
    margin: auto;
    animation: slide 15s 6s infinite;
   
      
}
.resim img {
    width: 100%;
    height: 500px;
}
@keyframes slide {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(0);
    }
    40% {
        transform: translate(-100%);
    }
    60% {
        transform: translate(-100%);
    }
    80% {
        transform: translate(-200%);
    }
    100% {
        transform: translate(-200%);
    }
    
}



.inner {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card {
    margin-top: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.74);
}
.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}
.card-body {
    padding: 10px 15px;
    text-align: left;
    overflow: auto;
}

.cizgi {
    border-top: dotted 10px #fcb941;
    margin: 20px 0;
}

.battom {
   
    padding: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
   
   
}

table {
   
    width: 90%;
    margin: auto;
    text-align: center;
    display: inline-table;
   
             
}

table, td, th {
    border: 2px groove #25373d;
}

footer {
    background-color: #25373d;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
footer ul {
    width: 50%;
}
.left {
    text-align: center;
}
.left li {
    list-style-type: none;
    margin: 20px 0;
}
.left li a {
    color: #fcb941;
    text-decoration: none;
    font-size: 15px;
}

.right {
    display: flex;
    justify-content: center;
    
}
.right li {
    margin: 20px 0;
    list-style: none;
}
.right li a {
    color: #fcb941;
    font-size: 25px;
    display: block;

}

.dote {
    padding: 0;
    width: 2px;
    height: 100px;
    background-color: #fcb941;
}
@media screen and (max-width: 991px) {
    .inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        width: 40%;
        margin-bottom: 20px;
    }
    .logo {
        padding: 50px;
    }
}
@media screen and (max-width: 768px) {
    .inner {
        width: 100%;
        display: block;
        margin-top: 20px;
    }
    .card {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 650px) {
    nav {
        display: block;
        height: 250px;
      
    }
    nav ul {
        display: block;
    }
    nav ul li {
        display: inline;
        
    }
    .logo {
        margin-top: 2px;
    }
    table {
        width: 30%;
    }
}
